* {
  font-family: 'Tauri', sans-serif;
}
.element-container {
  display: inline-block;
  height: 5.75em;
  width: 5em;
  border: 0.2em solid black;
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 #999;
}
.atomic-number {
  position: relative;
  left: 0.25em;
}

.element-symbol {
  position: relative;
  font-size: 2.5em;
  text-align: center;
  line-height: 0.75em;
}
.element-name {
  position: relative;
  font-size: 0.75em;
  text-align: center;
}

.atomic-weight {
  position: relative;
  font-size: 0.5em;
  top: 2em;
  right: 0.25em;  
  float: right;
}


