@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);
$font: 'Lily Script One', cursive;
// long shadows will be no blur, += -1px += 1px 
// $length = length in pixels that shadow should occupy - default = 50
// $color  = color of shadow - default = #bada55
@mixin long-shadow($length: 50, $color: #bada55){
	$shadow: '';
	@for $i from 0 through $length {
		// no , on the first one
		@if $i != 0 {
			$shadow: $shadow + ',';
		}
		$shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color
	}
	$shadow: $shadow;
	text-shadow: unquote($shadow);
}

body {
	background: #bada55;
}
.shadowy {
	font-family: $font;
	font-size: 10em;
	text-align: center;
	color: white;
	@include long-shadow(500, #000);
}

