// this isn't a very good heart.
$magenta: rgba(255, 0, 255, 1);
.heart {
	// triangle bottom
	// comments like these won't show up in the
	// compiled css file
	position: absolute;
	top: 5em;
	left: 5em;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 80px solid $magenta;

	// fill for the empty space
	box-shadow: 0 -1em 0 0 $magenta;

	// give it some real shadowing


	// animations
	-webkit-animation: beat 1s infinite;
	animation: beat 1s infinite;

	// left top
	&:before {
		content: "";
		position: absolute;
		top: -120px;
		left: -55px;
		height: 50px;
		width: 55px;
		background: $magenta;
		border-radius: 50%;
	}

	// right top
	&:after {
		content: "";
		position: absolute;
		top: -120px;
		left: 0;
		height: 50px;
		width: 55px;
		background: $magenta;
		border-radius: 50%;
	}
}

// now make it beat
// we can just scale it a bit
@-webkit-keyframes beat {
	50% { -webkit-transform: scale(1.2); }
}

@keyframes beat {
	50% { transform: scale(1.2); }
}