@mixin triangle {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid black;
}

.triangle {
	@include triangle;
	margin: 0 auto;
	&:before {
		content: "";
		@include triangle;
		position: relative;
		top: 100px;
		left: 100px;
	}
	&:after {
		content: "";
		@include triangle;
		position: relative;
		top: 100px;
		left: 0px;
	}
}