@import url(http://fonts.googleapis.com/css?family=Lily+Script+One);
$font: 'Lily Script One', cursive;
@mixin long-shadow($length: 50, $color: #bada55, $direction: bottom-right){
	$shadow: '';
	@if $direction == 'bottom-left' {
		@for $i from 0 through $length {
			@if $i != 0 {
				$shadow: $shadow + ',';
			}
			$shadow: $shadow + "-" + $i + 'px ' + $i + 'px 0 ' + $color
		}
	} @else if $direction == 'top-left' {
		@for $i from 0 through $length {
			@if $i != 0 {
				$shadow: $shadow + ',';
			}
			$shadow: $shadow + "-" + $i + 'px -' + $i + 'px 0 ' + $color
		}
	} @else if $direction == 'top-right' {
		@for $i from 0 through $length {
			@if $i != 0 {
				$shadow: $shadow + ',';
			}
			$shadow: $shadow + $i + 'px -' + $i + 'px 0 ' + $color
		}
	} @else {
		@for $i from 0 through $length {
			@if $i != 0 {
				$shadow: $shadow + ',';
			}
			$shadow: $shadow + $i + 'px ' + $i + 'px 0 ' + $color
		}
	}
	
	text-shadow: unquote($shadow);
}


body {
	background: #bada55;
}
.shadowy {
	font-family: $font;
	font-size: 10em;
	text-align: center;
	color: white;
	@include long-shadow(500, #000, bottom-left);
}

