@import url(http://fonts.googleapis.com/css?family=Merienda+One);
$green: #bada55;
$font: 'Merienda One', cursive;
%border {
	border: 4px solid $green;
	border-radius: 50%;
}

@mixin bubbles($height: 0, $width: 0) {
	height: $height + px;
	width: $width + px;
  background: #fff;
	@extend %border;
}
.bubble {
	position: relative;
	@include bubbles(250, 350);
	font-size: 2em;
	font-family: $font;
	text-align: center;
  text-shadow: 1px 1px darken($green, 25%);
	display: table-cell;
	vertical-align: middle;
	color: darken($green, 10%);
	&:after {
		position: absolute;
		@include bubbles(50, 50);
		top: 200px;
		left: 225px;
		content: "";
	}
	&:before {
		position: absolute;
		top: 250px;
		left: 275px;
		content: "";
		@include bubbles(25, 25);
	}
}